$height: calc(100vh - 2rem);

.wrapper {
    display: flex;
    padding: 1rem;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    min-height: $height;
    max-height: $height;
    width: 100%;
}