@import "../../../../theme.scss";

:host {
    width: 100%;
}

a {
    text-decoration: none;
    
    &.active > div {
        color: $color-basic-100;
        background-color: $color-basic-900;
    }
}

div {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-radius: 100vh;
    color: $color-basic-300;
    transition: all 200ms ease-in-out;
    
    .mat-icon {
        margin-right: 0.5rem;
    }
    
    &:not(.active):hover {
        color: $color-basic-900;
    }
    
    span {
        font-size: 1rem;
        margin-top: 3px;
    }
    
}

