// * COLOURS
$color-basic-100: rgb(255,255,255);
$color-basic-200: rgb(241, 243, 244);
$color-basic-300: rgb(171, 171, 173);
$color-basic-900: rgb(8, 18, 38);



$padding-normal: 1.5rem;

$container-padding: $padding-normal;